<nav class="navbar bg-light px-3">
  <div id="brand-title">
    <%= link_to "Simple Airbnb", flats_path %>
  </div>
  <div class="d-flex">
    <div style="margin-right: 10px">
      <form>
        <div class="input-group">
          <input class="form-control" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </form>
    </div>
    <div class="d-flex align-items-center border border-primary rounded px-2">
      <%= link_to "Add flat", new_flat_path %>
    </div>
  </div>
</nav>
